<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <title>Add Message</title>
	<link rel="icon" href="/static/favicon.ico" sizes="23x23" type="image/x-icon">
</head>
<body>

<div class="container mt-4">
    <h2>Add Message</h2>
    <form id="addMessageForm">
        <div class="form-group">
            <label for="timestamp">Timestamp:</label>
            <input type="datetime-local" class="form-control" name="timestamp" required>
        </div>
        <div class="form-group">
            <label for="sender">From:</label>
            <input type="text" class="form-control" name="sender" required>
        </div>
        <div class="form-group">
            <label for="receiver">To:</label>
            <input type="text" class="form-control" name="receiver" required>
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <input type="text" class="form-control" name="content" required>
        </div>
        <button type="button" class="btn btn-primary" id="submitBtn">Submit</button>

        <!-- 新增的按钮 -->
        <button type="button" class="btn btn-warning ml-2" id="rebuildButton">Rebuild Database</button>
    </form>
</div>

<script src="/static/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/popper.js/1.16.0/popper.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<script>
    document.getElementById('rebuildButton').addEventListener('click', function() {
        if (confirm('Are you sure you want to rebuild the database?')) {
            fetch('/ui/messages/rebuild_database', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Database rebuilt successfully');
                    } else {
                        alert('Error: ' + data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    });

    document.getElementById('submitBtn').addEventListener('click', function() {
        var formData = new FormData(document.getElementById('addMessageForm'));
        fetch('/ui/messages/add', { 
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Message added successfully');
                /*document.getElementById('addMessageForm').reset();*/
            } else {
                alert('Error: ' + data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>

</body>
</html>
