<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <title>GetURL</title>
	<link rel="icon" href="/static/favicon.ico" sizes="23x23" type="image/x-icon">
	<style>
  .dot {
    height: 8px;
    width: 8px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
</style>

<script>
async function requestAPI(endpoint) {
try {
  const response = await fetch(`/api/telegram/${endpoint}`);
  const data = await response.json();
  if (data.result === 'suc') {
	const statusMessage = data.status ? '启动' : '禁用';
	alert(`状态为: ${statusMessage}`);
  } else {
	alert(`错误: ${data.detail}`);
  }
} catch (error) {
  console.error('Request failed', error);
  alert('请求失败，请检查您的网络连接。');
}
}
</script>

</head>

<body>





<div class="container mt-5">
  <h5>Basic URLs:</h5>
  
  <div class="row mt-3">
    <div class="col-md-6"><strong>Functions</strong></div>
    <div class="col-md-6"><strong>URL</strong></div>
  </div>
  
  <div class="row mt-3 border">
    <div class="col-md-6">Main panel</div>
	
    <div class="col-md-6">/myphone(s)</div>
  </div>
  <div class="row mt-3 border">
    <div class="col-md-6">For guests</div>
    <div class="col-md-6">/guests</div>
  </div>
  <div class="row mt-3 border">
    <div class="col-md-6">Show latest 100 messages</div>
    <div class="col-md-6">/ui/messages</div>
  </div>
  <div class="row mt-3 border">
    <div class="col-md-6">Show all messages</div>
    <div class="col-md-6">/ui/messages?mode=all</div>
  </div>
  <div class="row mt-3 border">
    <div class="col-md-6">Show latest 100 phone calls</div>
    <div class="col-md-6">/ui/calls</div>
  </div>
  <div class="row mt-3 border">
    <div class="col-md-6">Send a message</div>
    <div class="col-md-6">/ui/send</div>
  </div>
  <div class="row mt-3 border">
    <div class="col-md-6">Make a phone call</div>
    <div class="col-md-6">/ui/call</div>
  </div>
  <div class="row mt-3 border">
    <div class="col-md-6">Bank Chart</div>
    <div class="col-md-6">/bank/chart/2024</div>
  </div>
  <div class="row mt-3 border">
    <div class="col-md-6">Message statistics</div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><span class="dot"></span>/ui/statistics/sender</li>
        <li class="list-group-item"><span class="dot"></span>/ui/statistics/receiver</li>
      </ul>
    </div>
  </div>
  <div class="row mt-3 border">
    <div class="col-md-6">Add a message to database / Rebuild database</div>
    <div class="col-md-6">/ui/messages/add</div>
  </div>
  
  <div class="row mt-3 border">
    <div class="col-md-6">Telegram</div>
    <div class="col-md-6">
      <ul class="list-group">
        <!--<li class="list-group-item"><span class="dot"></span><a href="/api/telegram/status" target="_blank">/api/telegram/status</a></li>
        <li class="list-group-item"><span class="dot"></span><a href="/api/telegram/enable" target="_blank">/api/telegram/enable</a></li>
		<li class="list-group-item"><span class="dot"></span><a href="/api/telegram/disable" target="_blank">/api/telegram/disable</a></li>
      -->
	  <li class="list-group-item"><span class="dot"></span><button class="btn btn-info" onclick="requestAPI('status')">Check Telegram Status</button>&nbsp;/api/telegram/status</li>
<li class="list-group-item"><span class="dot"></span><button class="btn btn-success" onclick="requestAPI('enable')">Enable Telegram</button>&nbsp;/api/telegram/enable</li>
<li class="list-group-item"><span class="dot"></span><button class="btn btn-danger" onclick="requestAPI('disable')">Disable Telegram</button>&nbsp;/api/telegram/disable</li>
<li class="list-group-item"><span class="dot"></span><button class="btn btn-info" onclick="requestAPI('verification_code')">Check Telegram Verification Code Identify Status</button>&nbsp;/api/telegram/verification_code</li>
<li class="list-group-item"><span class="dot"></span><button class="btn btn-success" onclick="requestAPI('enable_verification_code')">Enable Telegram Verification Code Identify Status</button>&nbsp;/api/telegram/enable_verification_code</li>
<li class="list-group-item"><span class="dot"></span><button class="btn btn-danger" onclick="requestAPI('disable_verification_code')">Disable Telegram Verification Code Identify Status</button>&nbsp;/api/telegram/disable_verification_code</li>

	  </ul>
    </div>
  </div>
</div>

<hr>
<div class="container mt-5">
  <h3>share_configs:</h3>
  <h5>/share/$app$/$key$</h5>
  <div class="row mt-3">
    <div class="col-md-3"><strong>App</strong></div>
    <div class="col-md-3"><strong>Keyword</strong></div>
    <div class="col-md-3"><strong>Keys and Comments</strong></div>
    <div class="col-md-3"><strong>URL</strong></div>
  </div>
  {% for i in share_configs %}
    <div class="row mt-3 border">
      <div class="col-md-3">{{ i[0][0] if i[0] else '' }}</div>
      <div class="col-md-3">{{ i[1][0][0] if i[1] else '' }}</div>
      <div class="col-md-3">
        <ul class="list-group">
          {% if i[1] %}
            {% for key in i[1][1:] %}
              <li class="list-group-item"><span class="dot"></span>{{ key[0] }} ({{ key[1] }})</li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
	  <div class="col-md-3">
        <ul class="list-group">
          {% if i[1] %}
            {% for key in i[1][1:] %}
              <a href="/share/{{i[0][0]}}/{{key[0]}}" target="_blank">Open /share/{{i[0][0]}}/{{key[0]}}</a>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
      
    </div>
  {% endfor %}
</div>

</body>
</html>