<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <title>MyPhones</title>
    <style>
        body {
            padding-top: 60px;
        }

        #myIframe {
            width: 100%;
            height: 650px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/myphones">MyPhones</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/ui/messages')">Messages</button>
                </li>
				<li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/ui/messages?mode=all')">Messages(All)</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/ui/calls')">Calls</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/ui/send')">Send</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/ui/call')">Call</button>
                </li>
				
                <li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/bank/chart/2024')">Bank Chart</button>
                </li>
				
				<li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/share/apple/f1b1b08a')">Apple</button>
                </li>
				
				
				<li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/share/baidu/f1b1b08a')">Baidu</button>
                </li>
				
				<li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/share/aliyun/f1b1b08a')">Aliyun</button>
                </li>
				
				<li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/ui/statistics/sender')">Statistics(sender)</button>
                </li>
				
				<li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/ui/statistics/receiver')">Statistics(receiver)</button>
                </li>
				
				<li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/ui/messages/add')">Add Messages</button>
                </li>
				
				<li class="nav-item">
                    <button class="nav-link btn btn-link" onclick="loadContent('/get_url')">Get_URL</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<iframe id="myIframe" src="/ui/messages" frameborder="0"></iframe>

<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    function loadContent(url) {
        document.getElementById('myIframe').src = url;
		        document.querySelector('.navbar-collapse').classList.remove('show');
    }
</script>
</body>
</html>