<!DOCTYPE html>
<html>
<head>
    <title>Phone</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<script src="/static/jquery/3.5.1/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <div class="container mt-5">
        <h2>Make A Call</h2>
        <form id="callForm">
            <div class="form-group">
                <label for="caller">From: </label>
                <input type="text" class="form-control" id="caller" name="from" value="{{fm}}" required>
            </div>
            <div class="form-group">
                <label for="receiver">To: </label>
                <input type="text" class="form-control" id="receiver" name="to" required>
            </div>
            <button type="submit" class="btn btn-primary">Call</button>
        </form>
        <div id="callResponse" class="mt-3"></div>
    </div>

    <script>
        document.getElementById('callForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const formData = new FormData(this);
			const apiUrl = `/api/phone/call`;

            fetch(apiUrl, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                let callResponse = document.getElementById('callResponse');
                if (data.result === 'suc') {
                    callResponse.innerHTML = `<div class="alert alert-success">Successfully Make The Call: ${data.detail}</div>`;
                } else {
                    callResponse.innerHTML = `<div class="alert alert-danger">Fail To Call: ${data.detail}</div>`;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('callResponse').innerHTML = `<div class="alert alert-danger">An error occurred during the call</div>`;
            });
        });
    </script>
	

</body>

</html>
